body {
  position: relative; }
  body .header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #3F4661; }
  body .header::after {
    display: block;
    width: 1px;
    height: 2.4em;
    content: ""; }
  body .header-logo p {
    margin-left: 15px;
    font-size: 18px;
    color: white;
    line-height: 50px; }
  body .contents-wrapper {
    display: flex;
    padding-top: 52px;
    padding-bottom: 114px; }
  body .left-colum {
    position: fixed;
    padding: 1.4em;
    overflow-y: auto;
    width: 25%;
    height: 100%; }
  body .item {
    padding: 15px 10px; }
  body .item:hover {
    background-color: #9e9e9e61; }
  body .item p {
    font-size: 20px;
    font-weight: bold; }
  body .right-colum {
    display: inline-block;
    overflow-y: auto;
    margin-left: 25%;
    width: 75%; }
  body .username {
    position: fixed;
    top: 0px;
    height: 50px;
    font-size: 26px; }
  body .username2:before {
    content: "";
    display: block;
    padding-top: 100%; }
  body .output-wrapper {
    margin: 10px 0 0 10px; }
  body .output {
    overflow-y: auto;
    height: 570px;
    width: 450px; }
  body .input-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px; }

.text-input {
  position: relative; }
  .text-input textarea {
    border-bottom: none;
    font-size: 16px;
    width: 100%;
    position: fixed;
    line-height: 2em;
    bottom: 0px; }
  .text-input button {
    z-index: 1;
    position: fixed;
    bottom: 8px;
    right: 10px; }
  .text-input .m1 {
    margin: 20px 0; }
  .text-input .m3 {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff; }
  .text-input .m3:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff; }
  .text-input .m3 p {
    margin: 0;
    padding: 0; }
