body 
  position: relative

  .header
    position: fixed
    top: 0
    height: 50px
    width: 100%
    background-color:#3F4661

  .header::after
    display: block
    width: 1px
    height: 2.4em
    content: ""

  .header-logo p
    margin-left: 15px
    font-size: 18px
    color: white
    line-height: 50px

  .contents-wrapper
    display: flex
    padding-top: 52px
    padding-bottom: 114px

  .left-colum
    position: fixed
    padding: 1.4em
    overflow-y: auto
    width: 25%
    height: 100%
    border-right: 1px solid #00000026
    box-sizing: border-box
  
  .roomText
    font-size: 20px

  .left-colum
    label
      display: block
      padding: 20px

      input 
        margin-right: 20px

    form:hover
      background-color: #9e9e9e61

  .right-colum
    display: inline-block
    overflow-y: auto
    margin-left: 25%
    width: 75%

 

  .username
    position: fixed
    top: 0px
    height: 50px
    font-size: 26px

  .username2:before
    content: ""
    display: block
    padding-top: 100%

  .output-wrapper
    margin: 10px 20px 20px 10px
    
  .output
    overflow-y: auto
    height: 570px
    
    ul 
      margin 10px 0
      li margin 10px 0

  .input-wrapper
    position: fixed
    bottom: 0
    width: 75%
    height: 100px

// .text-input2:before
//   content: ""
//   display: block
//   padding-top: 100%


  
.text-input
  position: relative
  textarea
    border-bottom: none
    font-size: 16px
    width: 1080px
    position: fixed
    line-height: 2em
    bottom: 0px
  button
    z-index: 1
    position: fixed
    bottom: 8px
    right: 10px
  img 
    height: 30px
    width: 30px
    z-index: 1
    position: fixed
    bottom: 40px
    right: 10px

//LINE風パクリ

.balloon 
 margin: 40px 0
 padding : 0 40px
 position: relative

.balloon:after,.balloon:before 
 clear: both
 content: ""
 display: block

.balloon-image-left 
 position: absolute
 left: 0
 margin: 0
 width: 60px
 height: 60px

.balloon-image-right 
 position: absolute
 right: 0
 margin: 0
 width: 60px
 height: 60px

.balloon figure img 
 width: 100%
 height: 100%
 border: 1px solid #aaa
 border-radius: 50%
 margin: 0

.balloon-image-description 
 padding: 5px 0 0
 font-size: 10px
 text-align: center

.balloon-text-right 
 position: relative
 margin-left: 40px
 padding: 10px
 border: 1px solid #aaa
 border-radius: 10px
 float: left
 max-width: 100%

.balloon-text-left 
 position: relative
 margin-right: 40px
 padding: 10px
 border: 1px solid #aaa
 border-radius: 10px
 float: right
 max-width: 100%

.balloon p 
 margin: 0 0 20px

.balloon p:last-child 
 margin-bottom: 0

/* 会話 */
.balloon-text-right:before 
 position: absolute
 content: ''
 border: 10px solid transparent
 border-right: 10px solid #aaa
 top: 15px
 left: -20px

.balloon-text-right:after 
 position: absolute
 content: ''
 border: 10px solid transparet
 border-right: 10px solid #fff
 top: 15px
 left: -19px

.balloon-text-left:before 
 position: absolute
 content: ''
 border: 10px solid transparent
 border-left: 10px solid #aaa
 top: 15px
 right: -20px

.balloon-text-left:after 
 position: absolute
 content: ''
 border: 10px solid transparent
 border-left: 10px solid #fff
 top: 15px
 right: -19px









  
